<mat-toolbar color="primary">
    <img src='../assets/favicon.png' class="brand-logo" />    
    <span class="spacer"></span>
    <mat-button-toggle-group #gpHiddenNet="matButtonToggleGroup">
        <mat-button-toggle value="on" checked='true' matTooltip="Ver Redes Ocultas" matTooltipPosition="below">
            <mat-icon>remove_red_eye</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="off" matTooltip="No Ver Redes Ocultas" matTooltipPosition="below">
            <mat-icon>visibility_off</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
    <span class="spacer"></span>
    <mat-icon>translate</mat-icon>
    <mat-form-field>
        <mat-select [(ngModel)]="languageSelected" name="language" matTooltip="Lenguaje" matTooltipPosition="below">
            <mat-option *ngFor="let language of languages" [value]="language.value">
                {{ language.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="mainMenu" matTooltip="Menú" matTooltipPosition="below">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #mainMenu="matMenu" name="menuOption">
        <button (click)="menuOptionSelected=option.value" mat-menu-item *ngFor="let option of options" routerLink='/{{option.value}}'>
            <mat-icon> {{option.value == menuOptionSelected ? 'radio_button_checked' : 'radio_button_unchecked'}}</mat-icon>
            <span>{{option.viewValue}}</span>
        </button>
    </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>